PiWeather.json
[{"id":"227bb6ad.1a032a","type":"tab","label":"PiWeather","disabled":false,"info":""},{"id":"60002c0b.948cf4","type":"openweathermap","z":"227bb6ad.1a032a","name":"Weather Underground API","wtype":"forecast","lon":"","lat":"","city":"London","country":"United Kingdom","language":"en","x":310,"y":80,"wires":[["6627cfa1.d9b42"]]},{"id":"688e329f.b738ec","type":"inject","z":"227bb6ad.1a032a","name":"","topic":"","payload":"","payloadType":"date","repeat":"3600","crontab":"","once":true,"onceDelay":0.1,"x":110,"y":80,"wires":[["60002c0b.948cf4"]]},{"id":"6627cfa1.d9b42","type":"function","z":"227bb6ad.1a032a","name":"Weather Data Analysis","func":"let temp= 1000;\nlet condition=\"Clear\";\nfor (let i = 0; i < 3; i++) {\n    if(msg.payload[i].weather[0].main==\"Snow\"){\n        msg.payload = 1;\n        return msg;\n    }\n    if(msg.payload[i].weather[0].main==\"Rain\" ||msg.payload[i].hasOwnProperty('rain')){\n        msg.payload = 2;\n        return msg;\n    }\n    if(msg.payload[i].main.temp<temp){\n        temp = msg.payload[i].main.temp\n    }\n    if(msg.payload[i].weather[0].main!==\"Clear\"){\n       condition=msg.payload[i].weather[0].main;\n    }\n}\n\nif(temp<8){\n    msg.payload=3;\n} else if(temp>=8 && temp <15) {\n    msg.payload=4\n} else if(temp>=15 && condition==\"Clear\"){\n    msg.payload=5;\n} else{\n    msg.payload=4;\n}\nreturn msg;\n","outputs":1,"noerr":0,"x":160,"y":300,"wires":[["a77b5a3f.2d88e8"]]},{"id":"a77b5a3f.2d88e8","type":"switch","z":"227bb6ad.1a032a","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"eq","v":"2","vt":"num"},{"t":"eq","v":"3","vt":"num"},{"t":"eq","v":"4","vt":"num"},{"t":"eq","v":"5","vt":"num"}],"checkall":"true","repair":false,"outputs":5,"x":330,"y":300,"wires":[["1929d36a.01a64d"],["adfb797.fba5588"],["87763d29.792a1"],["340e8d55.6e49a2"],["2853764.f93818a"]]},{"id":"adfb797.fba5588","type":"change","z":"227bb6ad.1a032a","name":"Rain","rules":[{"t":"set","p":"payload","pt":"msg","to":"rain","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":229,"wires":[["e24abca8.05ae9","7c9c2e8e.1f505"]]},{"id":"1929d36a.01a64d","type":"change","z":"227bb6ad.1a032a","name":"Snow","rules":[{"t":"set","p":"payload","pt":"msg","to":"snow","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":495,"y":180,"wires":[["f82234cf.040a58","7c9c2e8e.1f505"]]},{"id":"87763d29.792a1","type":"change","z":"227bb6ad.1a032a","name":"Cold","rules":[{"t":"set","p":"payload","pt":"msg","to":"cold","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":497,"y":279,"wires":[["abbe2164.0189e","7c9c2e8e.1f505"]]},{"id":"340e8d55.6e49a2","type":"change","z":"227bb6ad.1a032a","name":"Normal","rules":[{"t":"set","p":"payload","pt":"msg","to":"normal","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":329,"wires":[["1ca0e0ab.8c128f","7c9c2e8e.1f505"]]},{"id":"2853764.f93818a","type":"change","z":"227bb6ad.1a032a","name":"Hot","rules":[{"t":"set","p":"payload","pt":"msg","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":379,"wires":[["6d03ebb4.cddff4","7c9c2e8e.1f505"]]},{"id":"7c9c2e8e.1f505","type":"exec","z":"227bb6ad.1a032a","command":"sudo pkill python","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Kill other Python Scripts","x":710,"y":480,"wires":[[],[],[]]},{"id":"c550d5a.e1eac28","type":"exec","z":"227bb6ad.1a032a","command":"sudo python /home/pi/Pimoroni/unicornhat/examples/snow.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"white","x":790,"y":180,"wires":[[],[],[]]},{"id":"d5fdbf4a.934c3","type":"exec","z":"227bb6ad.1a032a","command":"sudo python /home/pi/Pimoroni/unicornhat/examples/blue.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"blue","x":790,"y":229,"wires":[[],[],[]]},{"id":"8f92aeac.e54e","type":"exec","z":"227bb6ad.1a032a","command":"sudo python /home/pi/Pimoroni/unicornhat/examples/grey.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"grey","x":790,"y":279,"wires":[[],[],[]]},{"id":"d6c74119.7a349","type":"exec","z":"227bb6ad.1a032a","command":"sudo python /home/pi/Pimoroni/unicornhat/examples/yellow.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"yellow","x":790,"y":329,"wires":[[],[],[]]},{"id":"499b2c22.5442e4","type":"exec","z":"227bb6ad.1a032a","command":"sudo python /home/pi/Pimoroni/unicornhat/examples/red.py","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"red","x":790,"y":379,"wires":[[],[],[]]},{"id":"f82234cf.040a58","type":"delay","z":"227bb6ad.1a032a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":638,"y":180,"wires":[["c550d5a.e1eac28"]]},{"id":"e24abca8.05ae9","type":"delay","z":"227bb6ad.1a032a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":229,"wires":[["d5fdbf4a.934c3"]]},{"id":"abbe2164.0189e","type":"delay","z":"227bb6ad.1a032a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":641,"y":279,"wires":[["8f92aeac.e54e"]]},{"id":"1ca0e0ab.8c128f","type":"delay","z":"227bb6ad.1a032a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":641,"y":329,"wires":[["d6c74119.7a349"]]},{"id":"6d03ebb4.cddff4","type":"delay","z":"227bb6ad.1a032a","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":640,"y":379,"wires":[["499b2c22.5442e4"]]}]